<div class="todo" [class.done]="todo$.status">
    <div class="todo-content">
        <div class="handle">
            <img src="./assets/svg/drag.svg" alt="">
        </div>
        <div class="todo-content-check">
            <img *ngIf="!todo$.status" (click)="changeCheck($event)" src="./assets/svg/checkbox-empty.svg">
            <img *ngIf="todo$.status" (click)="changeCheck($event)" src="./assets/svg/checkbox-done.svg">
        </div>
        <div class="todo-content-title">
            <input (blur)="changeLabel($event)" type="text" [(ngModel)]="todo$.label" placeholder="Name des todo Punktesss">
        </div>
    </div>
    <div class="delete" (click)="deleteTodo($event)">
        <span>Löschen</span>
    </div>
</div> 